
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body {
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: beige
  }
  .nav{
    width: 200px;
    height: 80vh;
    position: absolute;
    top: 25;
    left: 0;
    background-color: beige;
  }
  

  header {
    background-image: url(https://images.pexels.com/photos/4870771/pexels-photo-4870771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: right;
    background-color: green;
    color: #fff;
    padding: 20px;
  }

  footer{
      background-image: url(https://images.pexels.com/photos/4870771/pexels-photo-4870771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-position: right;
      background-color: green;
      color: #fff;
      padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  

  footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
  }

  a{
    text-align: center;
    font-size: larger;
    display: inline-flex;
    color: darkslategray;
  }

  a:hover{
    text-decoration: none;
    color: green;
    font-size: x-large;
  }

  img{
    border-radius: 1rem;
    display: flex;
    text-align: center;
    margin: auto;
    height: 450px;
    width: 700px;
    margin-top: 30px;
  }

  .menu{
    text-align: center;
  }

  #balogh{
    float: right;
    width: 150px;
    height: 100px;
  }

  .link{
    color: whitesmoke;
    font-size: x-large;
    text-decoration: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    color: #333;
    margin: 10px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e6f7ff;
  }

  ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }
  
  ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
    margin-left: 20px;
  }
  
  li {
    margin: 20px 0;
    padding: 0;
  }

  @media screen and (max-width: 500px) {
    img{
      display: none;
    }
    
  }
  