
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: beige
  }
  

  header {
    background-image: url(https://images.pexels.com/photos/4870771/pexels-photo-4870771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: right;
    background-color: green;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }

    ol>li{
      margin-left: 50px;
    }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  

  footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
  }

  a{
    text-align: center;
    font-size: larger;
    display: inline-flex;
    color: lightseagreen;
  }

  a:hover{
    text-decoration: none;
    color: green;
    font-size: x-large;
  }

  img{
    display: flex;
    text-align: center;
    margin: auto;
    height: 450px;
    width: 700px;
  }

  .menu{
    text-align: center;
  }